
.pagedashboard{
  height: 6000px; /* Atur tinggi sesuai kebutuhan */
  overflow: auto; /* Membuat laman dapat di-scroll */
  width:1100px;
margin-inline: auto;
/* margin-left: 130px; */
/* border: 3px solid black; */

}

.Spek{
background-color: white;
height: 5756px ;
margin-left: 120px;
  /* position: relative; */
  /* margin-left: 150px; */
 /* padding: 200; */
}

